.card-container {
  background-color: blue;
    
  text-align:center;
-ms-flex-align: center;
  border: 3px solid green;
    text-align: center;

text-align: var(-webkit-font-smoothing);
  margin-left: auto;

  margin-right: auto;

  width: 40%;

  }
  .me{
    height: inherit;
    width: 100px;
    color: blue;
  }
  .uiu{
    background-color: brown;
    width: 150px; ;

  }
  .card {
    width: calc(33.3% - 10px);
    margin-bottom: 20px;
    background-color: #001cbb29;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .card img {
    max-width: 100%;
    height: auto;

  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 100%;
    }
  }
  